@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "jetbrainsmono";
        src: url(fonts/JetBrainsMono-Regular.woff2) format("woff2");
    }
    
    @font-face {
        font-family: "opendyslexicmono";
        src: url(fonts/OpenDyslexicMono-Regular.woff2) format("woff2");
    }
}