@import "tailwindcss";

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Open Dyslexic Mono";
    src: url("../fonts/OpenDyslexicMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Windows 95";
    src: url("../fonts/Windows95Regular.woff2") format("woff2");
}

@theme {
    --font-jetbrains: "JetBrains Mono";
    --font-opendyslexic: "Open Dyslexic Mono";
    --font-windows95: "Windows 95";
    /* Berry Shake theme from Lospec https://lospec.com/palette-list/berry-shake */
    --color-berryshake-white: #ffffff;
    --color-berryshake-black: #2e2e49;
    --color-berryshake-purple: #b200ff;
    --color-berryshake-dimpurple: #53355e;
    --color-berryshake-pink: #ff156b;
    --color-berryshake-dimpink: #a30054;
    --color-berryshake-green: #62ff89;
    --color-berryshake-dimgreen: #227f5e;
}