@font-face {
    font-family: "JetBrains Mono";
    src: url(../fonts/JetBrainsMono-Regular.woff2) format("woff2");
}

@font-face {
    font-family: "OpenDyslexic Mono";
    src: url(../fonts/OpenDyslexicMono-Regular.woff2) format("woff2");
}

html,
body {
    height: 100%;
    font-family: "JetBrains Mono";
    margin: 0;
    background-color: #211e20;
}

#headerDiv {
    height: 100px;
    color: #a0a08b;
    display: block;
    /* Uncomment if you need the shadow effect */
    /* box-shadow: 0px 1px 0px 1px #555568 !important; */
    /*border-bottom: 2px solid #555568;*/
    font-size: 60%;
}

.dyslexia-toggle {
    font-family: "OpenDyslexic Mono";
    font-weight: 800;
    font-size: large;
}

#headerDiv>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#headerDiv>div>h1 {
    padding-left: 5%;
    padding-right: 5%;
}

#headerDiv>div>h1>a:link,
#headerDiv>div>h1>a:visited {
    color: #a0a08b;
}

#headerDiv>div>h1>a:hover {
    color: #e9efec;
}

#mainDiv {
    color: #a0a08b;
    margin: 2%;
}

#separator {
    height: 2px;
    background-color:  #555568;
}